# frontend/ui-budget/.dockerignore

# Node modules y artefactos de build
node_modules
.next
dist

# Config y metadatos
.git
.gitignore
.env*
Dockerfile*

# VSCode, logs, caches
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*